body{
    background-image: url(new/unsplash.jpg);
    background-size: 100%;
}


.bor {
    border: 1px solid #D9D2C3;
    background: #D9D2C3;
    background-clip: border-box;
    border-radius: 50px;
    height: 1130px;
    display: flex;
}

.larg {
    color: #FBF9F9;
    text-shadow: 2px 2px 4px #000000;
    font-size: 111px;
    font-weight: 700;
    /* width: 58%; */
    width: 700px;
}

.med {
    font-size: 30px;
    font-weight: 500;
/*    width: 39%;*/
    width: 600px;
}

.dots {
    font-size: 44px;
    font-weight: 900;
    color: #901C33;
/*    width: 38%;*/
        width: 600px;

}

.sma {
    font-size: 30px;
    font-weight: 500;
/*    width: 38%;*/
    width: 600px;

}
.people img {
    width: 98%;
/*    margin-top: -53%;*/
    border-radius: 70px;
}


.two {
    color: #FBF9F9;
    text-shadow: 2px 2px 4px #000000;
    font-size: 264px;
    font-weight: 500;
    width: 7%;
}

.date {
    color: #FBF9F9;
    text-shadow: 2px 2px 4px #000000;
    font-size: 100px;
    font-weight: 500;
    width: 700px;
    margin-top: -41%;
    margin-left: 22%;
}



.join {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Name {
    color: black;
    font-size: 20px;
}

.email {
    color: black;
    font-size: 20px;
    display: inline;
}

.phone {
    color: black;
    font-size: 20px;
    display: inline;
}

.bott button{
    background-color: black;
    font-size: 20px;
    color: white;
    width: 20%;
    height: 10%;
    margin-top: 25px;
}

.jo {
    font-size: 45px;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.one {
    width: 50%;
    padding: 0 10px;
}

.oneemail {
    width: 100%;
    padding: 0 10px;
}

.aera {
    width: 30%;
    padding: 0 10px;
}

.one2 {
    width: 50%;
    padding: 0 10px;
}

.pho {
    width: 70%;
    padding: 0 10px;
}
.bor {
    border: 1px solid #D9D2C3;
    padding: 10px;
    background: #D9D2C3;
    background-clip: border-box;
    border-radius: 50px;
    margin: 20px auto;
    width: 80%;
    height: 1130px;
    display: flex;
}

.Name {
    display: flex;
}

.join {
    
}

.formelement {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.formelement .input {
    display: flex;
    justify-content: space-between;
    width: 80%;
}


.map {
    margin-top: 20px;
}


@media all and (max-width: 660px){
      .bor {
      width: 450px !important;
    }
    .larg{
       font-size: 65px; 
    }
    .med{
       font-size: 25px; 
    }
    .dots{
       font-size: 41px; 
    }
    .sma{
       font-size: 25px; 
    }
    .two{
       font-size: 130px; 
    }
    .date{
       font-size: 58px;
       margin-top: -139px;
       margin-left: 71px;
    }
    .people img{
        width: 410px;
    }
    .join{
        width: 200px;
    }
    .formelement{
    justify-content: space-between;
    width: 84%;
    flex-direction: row;
    }
    .map {
    margin-top: 20px;
    width: 82%;
    margin-left: -16%;
    }
}

@media all and (max-width: 1000px){
      .bor {
      width: 550px;
  }
    .larg{
       font-size: 65px; 
    }
    .med{
       font-size: 25px; 
    }
    .dots{
       font-size: 41px; 
    }
    .sma{
       font-size: 25px; 
    }
    .two{
       font-size: 130px; 
    }
    .date{
       font-size: 58px;
       margin-top: -139px;
       margin-left: 71px;
    }
}


/*
@media all and (max-width: 660px) {

    .bor{
        flex-direction: column
    }
}
*/

@media all and (max-width: 1660px) {

    .bor{
        flex-direction: column;
        border: 1px solid #D9D2C3;
        padding: 10px;
        background: #D9D2C3;
        background-clip: border-box;
        border-radius: 50px;
        margin: 20px auto;
        width: 80%;
        height: 2000px;
        display: flex;
    }
        .people{
        width: 500px;
    }
    
    .join{
        width: 500px;
    }
/*
    .two{
       font-size: 110px; 
    }
    .date{
       font-size: 40px;
       margin-top: -139px;
       margin-left: 71px;
    }
*/

}



.pic {
    display: flex;
}


