body {
  background-image: url(images/about-bg.jpg);
}
.gallery-box {
  background-image: url("new/sin.png");
  background-size: 100%;
  background-position: center -100px;
  background-repeat: no-repeat;
  width: 60%;
  margin: 0 auto;
}

.tittle {
  display: flex;
  /* place-content: center; */
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.big {
  font-size: 110px;
  font-weight: 600;
  opacity: 0.3;
  text-align: top center;
  padding-bottom: 2px;
}

.meduim {
  color: black;
  font-weight: bold;
  font-size: 60px;
  padding-bottom: -20px;
}

.bline {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}
.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  perspective: 500px;
  align-items: center;
  width: 17%;
}
.book img {
  width: 134px;
  height: 200px;
  box-shadow: 5px 5px 5px black;
  transform: rotateY(15deg);
  position: relative;
}

.book img:hover {
  transform: scale(1.6);
  transition: 0.5s;
  z-index: 1000;
}

.book button {
  border-radius: 25px;
  border: 2px solid white;
  color: white;
  background: radial-gradient(
    circle,
    rgba(188, 33, 49, 1) 0%,
    rgba(143, 38, 96, 1) 61%,
    rgba(130, 39, 109, 1) 100%
  );
  margin: 25px 0;
  padding: 7.5px 22.5px;
  transition: border 0.25s linear;
}
.book button:hover {
  border-color: black;
}
@media only screen and (max-width: 1500px) {
  .gallery-box {
    width: 67.5%;
  }
  .bline {
    justify-content: center;
  }
  .book {
    width: 25%;
  }
}
@media only screen and (max-width: 1000px) {
  .gallery-box {
    width: 75%;
  }
  .book {
    width: 30%;
  }
  .bline {
    justify-content: space-between;
  }

  .big {
    font-size: 60px;
    font-weight: 600;
    opacity: 0.3;
    text-align: top center;
    padding-bottom: 2px;
  }

  .meduim {
    color: black;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: -20px;
  }
}
@media only screen and (max-width: 600px) {
  .gallery-box {
    width: 95%;
  }
  .book {
    width: 45%;
  }
}
